/* styles.css */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Press+Start+2P&family=Roboto&display=swap');

/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-color: #121212;
  color: #FFFFFF;
}

/* Adjust MUI components */
.MuiTab-root {
  min-width: 80px !important;
}

.MuiTab-wrapper {
  flex-direction: column;
}

.MuiTabs-flexContainer {
  justify-content: center;
}

.MuiButtonBase-root {
  font-family: 'Press Start 2P', cursive !important;
}

/* Card styles */
.MuiCard-root {
  background-color: #1e1e1e !important;
  color: #fff !important;
}

.MuiCardContent-root {
  font-family: 'Roboto', sans-serif !important;
}

.MuiTypography-root {
  font-family: 'Roboto', sans-serif !important;
}

/* Modal styles */
.MuiModal-root {
  font-family: 'Roboto', sans-serif !important;
}

.MuiTextField-root {
  font-family: 'Roboto', sans-serif !important;
}

/* Mapbox Geocoder styles */
.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: 100% !important;
  background-color: #1e1e1e !important;
  color: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #8B4513 !important;
}

.mapboxgl-ctrl-geocoder--input {
  color: #fff !important;
}

/* Search bar styling */
.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
